<p>Astra PP Optimization Calculator</p>


<input type="text" id="base" name="base"><br><br>
<input type="text" id="weapon" name="weapon"><br><br>
<input type="text" id="unit_1" name="unit_1"><br><br>
<input type="text" id="unit_2" name="unit_2"><br><br>
<input type="text" id="unit_3" name="unit_3"><br><br>
<input type="text" id="mainclass_1" name="mainclass_1"><br><br>
<input type="text" id="mainclass_2" name="mainclass_2"><br><br>
<input type="text" id="subclass_1" name="subclass_1"><br><br>
<input type="text" id="subclass_2" name="subclass_2"><br><br>
<input type="text" id="territory" name="territory"><br><br>
<input type="text" id="bullet" name="bullet"><br><br>

<input type="text" id="ppCost" name="ppCost"><br><br>
<input type="button" id="submit" name="submit"><br><br>

<textarea>THIS IS WHERE CALCULATED RESULTS WILL GO</textarea>
